.rakhi-section{
    padding:120px 8%;
    background:#fffaf6;
}

.section-heading{
    text-align:center;
    margin-bottom:70px;
}

.section-heading span{
    letter-spacing:3px;
    text-transform:uppercase;
    color:#b9806b;
    font-size:13px;
}

.section-heading h2{
    font-family:"Cormorant Garamond", serif;
    font-size:4rem;
    color:#3d2d28;
    margin:15px 0;
}

.section-heading p{
    max-width:600px;
    margin:auto;
    color:#6d5b53;
    line-height:1.8;
}

.hamper-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
}

.hamper-card{
    background:white;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.06);
    transition:.4s;
}

.hamper-card:hover{
    transform:translateY(-12px);
}

.hamper-image img{
    width:100%;
    height:380px;
    object-fit:cover;
}

.hamper-content{
    padding:30px;
}

.hamper-content h3{
    font-family:"Cormorant Garamond", serif;
    font-size:2rem;
    margin-bottom:15px;
}

.hamper-content p{
    color:#6d5b53;
    line-height:1.8;
    margin-bottom:20px;
}

.hamper-content h4{
    color:#b9806b;
    font-size:1.4rem;
    margin-bottom:25px;
}

.card-buttons{
    display:flex;
    gap:12px;
}

.details-btn,
.order-btn{
    flex:1;
    padding:14px;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
}

.details-btn{
    border:1px solid #b9806b;
    background:transparent;
    color:#b9806b;
}

.order-btn{
    border:none;
    background:#b9806b;
    color:white;
}